body {
    background-color: #181818;
    color: white;
}

.navbar {
    background-color: #202020 !important;
}

table.table thead th, table.table tbody td, table.table tfoot tr {
    color: white;
}

table.table tbody td a {
    color: beige;
}

.search-a {
    color: white;
    background-color: #181818;
}

.btn-outline-dark {
    color: white !important;
    border-color: lightgray !important;
}

.btn-outline-danger:hover {
    border-color: darkred !important;
}

.btn-outline-dark:hover {
    color: #cdc1c1 !important;
    border-color: darkgray !important;
}

#sakura-svg-points {
    fill: white;
}

#sakura-stats {
    fill: deeppink;
}

.modal-content {
    background-color: #222222;
}

.card {
    background-color: #222222;
}

.card-text {
    color: lightgray !important;
}

.li-theme {
    background-color: #121212;
}

.autocomplete-bar {
    background-color: #121212;
    color: white;
}

.color {
    color: white;
}

li {
    background-color: #222222 !important;
}

.speaker {
    fill: white;
}

.changelog-version {
    background-color: #222222 !important;
}

.black-text {
    color: white !important;
}

.table-hover tbody tr:hover {
    background-color: dimgrey !important;
}

.green-table {
    background-color: #418a44 !important;
    color: white;
}

.red-table {
    background-color: #b53128 !important;
    color: white;
}

.button-a {
    color: red !important;
}

.button-a:hover {
    color: darkred !important;
}

.card-body {
    background-color: #222222 !important;
}