body, .content {
    background-color: #181818;
    color: white;
}

.form-control, .form-select, .navbar {
    background-color: #262626 !important;
}

.form-control[readonly] {
    background-color: #555555 !important;
}

.bg-danger[readonly], .bg-danger {
    background-color: rgba(255, 0, 0, 0.44) !important
}

table.table thead th, table.table tbody td, table.table tfoot tr {
    color: white;
}

table.table tbody td a, .div-music.row:hover {
    color: beige;
}

.div-music.row:nth-child(even) {
    background-color: #101010;
}

.div-music.row:nth-child(2n+1) {
    background-color: #181818;
}

.search-a {
    color: white;
    background-color: #181818;
}

.btn-outline-dark {
    color: white !important;
    border-color: lightgray !important;
}

.btn-outline-danger:hover {
    border-color: darkred !important;
}

.btn-outline-dark:hover {
    color: #cdc1c1 !important;
    border-color: darkgray !important;
}

#sakura-svg-points {
    fill: white;
}

#sakura-stats {
    fill: deeppink;
}

.modal-content, .card, li.list-group-item, .changelog-version, .accordion-item, .accordion-button {
    background-color: #222222 !important;
    color: white !important;
}

.card-text {
    color: lightgray !important;
}

.li-theme {
    background-color: #121212;
}

.autocomplete-bar {
    background-color: #121212;
    color: white;
}

.color {
    color: white;
}

.form-label, .form-control, .form-select, option {
    color: #a7a7a7 !important;
}

.speaker {
    fill: white;
}

.black-text {
    color: white !important;
}

.table-hover tbody tr:hover {
    background-color: dimgrey !important;
}

.green-table {
    background-color: #418a44 !important;
    color: white;
}

.red-table {
    background-color: #b53128 !important;
    color: white;
}

.button-a {
    color: red !important;
}

.button-a:hover {
    color: darkred !important;
}

.card-body {
    background-color: #222222 !important;
}