body {
    background-color: #f1f1f1;
}

.navbar, .changelog-version, .page-footer, .card-body, .page-footer, .modal-content, .card, .list-search li, .list-group li, .table-hover tbody tr:hover {
    background-color: #dbe2ef !important;
}

#sakura-svg-points, #sakura-svg {
    fill: #112d4e;
}

.autocomplete-bar::placeholder {
    color: #dbe2ef !important;
}

.page-footer, .page-footer a, .navbar a, .card-text, h1, h2, h3, h4, h5, h6, .button-a {
    color: #3f72af !important;
}

.card h4, .button-a:hover, .btn-outline-dark:hover, .changelog-version li {
    color: #112d4e !important;
}

table.table thead th, table.table tbody td, table.table tfoot tr, table.table tbody td a {
    color: #3f72af;
}

.autocomplete-bar {
    background-color: #3f72af;
    color: #f1f1f1;
}

#sakura-stats, #sakura-svg:hover, .speaker {
    fill: #3f72af;
}

.btn-outline-dark {
    color: #3f72af !important;
    border-color: #112d4e !important;
}

.btn-purple, .btn-primary {
    background-color: #112d4e !important;
}

.green-table {
    background-color: #78e27e !important;
    color: white;
}

.red-table {
    background-color: #e56f6a !important;
    color: white;
}

.color {
    color: white;
}

.modal-body, .modal-header {
    border-bottom: 1px solid black;
}