body {
    background-color: gold;
}

.navbar {
    background-color: gold !important;
}

.search-a {
    background-color: gold;
}

.btn-outline-dark {
    color: gold !important;
    border-color: goldenrod !important;
}

.btn-outline-danger:hover {
    border-color: darkgoldenrod !important;
}

#sakura-svg-points {
    fill: white;
}

.modal-content {
    background-color: lightgoldenrodyellow;
}

.card {
    background-color: lightgoldenrodyellow;
}

.card-text {
    color: lightgray !important;
}

a.nav-item {
    color: black !important;
}