* {
    overflow-x: hidden;
}

.search {
    margin: 0;
    display: block;
    background-color: white;
}

.search-a {
    color: black;
}

.search-a:hover {
    color: red;
}

.btn_delete {
    border-radius: 50%;
    padding: .375rem .75rem;
}

#sakura-svg {
    fill: white;
    height: 22px;
    width: 22px;
}

#sakura-svg:hover {
    fill: pink;
}

.life {
    margin-left: auto;
}

#heart {
    fill: red;
    height: 16px;
    width: 16px;
    text-align: right;
}

#sakura-svg-points {
    fill: black;
    width: 40px;
    height: 40px;
    padding-bottom: 5px;
    padding-left: 10px;
}

.flexible {
    display: flex;
}

.icon {
    width: 40px;
}

.icon-account {
    width: 100%;
    margin-bottom: 10px;
}

.icon-research {
    width: 24px;
    height: 24px;
}

.color {
    color: black;
}

.icon-table {
    width: 80px;
    height: 80px;
}

.icon-table-other {
    position: absolute;
}

.icon-secure {
    position: absolute;
    z-index: 1;
    opacity: 0.9;
    width: 40px;
    margin-top: 38px;
    color: black;
}

.riddle {
    width: 100%;
    text-align: center;
}

#plus-circle {
    fill: green;
    width: 48px;
    height: 48px;
}

#plus-circle:hover {
    fill: #70b00d;
}

#uncheck {
    fill: red;
    width: 24px;
    height: 24px;
    margin-left: auto;
}

#check {
    fill: green;
    width: 24px;
    height: 24px;
    margin-left: auto;
}

@media screen and (min-width: 768px) {

    #navbar-top-small {
        display: none;
    }

    .table-size td {
        font-size: 20px
    }

    .table-size th {
        font-size: 20px
    }

    .small-screen {
        display: none !important;
    }

    .card {
        width: 18rem;
    }

}

@media screen and (max-width: 768px) {

    #navbar-top {
        display: none;
    }

    #navbar-top-small {
        width: 100%;
    }

    .hidden {
        display: none;
    }

    h1 {
        font-size: 24px;
    }

    .display {
        display: grid;
    }

    .btn-small {
        padding: 0.4rem !important;
        font-size: 0.65rem;
    }

    .wide-screen {
        display: none !important;
    }

    .li-theme {
        padding: 5px 5px 5px 20px;
    }

    #plus-circle {
        width: 32px;
        height: 32px;
        margin-right: 5px;
    }

}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}