.search {
    margin: 0;
    display: block;
    background-color: white;
}

.search-a {
    color: black;
}

.search-a:hover {
    color: red;
}

.btn_delete {
    border-radius: 50%;
    padding: .375rem .75rem;
}

