.search {
    margin: 0;
    display: block;
    background-color: white;
}

.search-a {
    color: black;
}

.search-a:hover {
    color: red;
}

#sakura-svg {
    fill: white;
    height: 22px;
    width: 22px;
}

#sakura-svg:hover {
    fill: pink;
}

#sakura-stats {
    height: 20px;
    width: 20px;
    vertical-align: top;
    fill: mediumvioletred;
}

.life {
    margin-left: auto;
}

#heart {
    fill: red;
    height: 16px;
    width: 16px;
    text-align: right;
}

#sakura-svg-points {
    fill: black;
    width: 40px;
    height: 40px;
    padding-bottom: 5px;
    padding-left: 10px;
}

.flexible {
    display: flex;
}

.icon {
    width: 40px;
}

.icon-account {
    display: block;
    width: 100%;
}

.icon-research {
    width: 24px;
    height: 24px;
}

.list-search li {
    height: 45px;
}

.list-search li span {
    font-size: 20px;
}

.modal-kanji {
    font-size: 180px;
    text-align: center;
}

.color {
    color: black;
}

.icon-table {
    width: 80px;
    height: 80px;
}

.icon-table-other {
    position: absolute;
}

.icon-secure {
    position: absolute;
    z-index: 1;
    opacity: 0.9;
    width: 40px;
    margin-top: 38px;
    color: black;
}

.riddle {
    width: 100%;
    text-align: center;
}

#plus-circle {
    fill: green;
    width: 28px;
    height: 28px;
}

#plus-circle:hover {
    fill: #70b00d;
}

#uncheck {
    fill: red;
    width: 24px;
    height: 24px;
    margin-left: auto;
}

#check {
    fill: green;
    width: 24px;
    height: 24px;
    margin-left: auto;
}

.green-table {
    background-color: #85cd88 !important
}

.red-table {
    background-color: #f56055 !important
}

.speaker {
    margin-left: auto;
    width: 20px;
    height: 20px;
}

.container-img {
    position: relative;
}

.container-img:hover .hover-img {
    opacity: 0.6;
}

.hover-img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: lightgrey;
}

.hover-img-text {
    color: black;
    font-size: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: bold;
}

.card {
    border: 1px solid rgba(0,0,0,.125);
}

.changelog-version {
    margin-left: 20px;
    margin-right: 20px;
    border: 2px black solid;
    border-radius: 30px;
    padding: 20px 20px 20px 20px;
}

.changelog-date {
    font-size: 0.6em;
    vertical-align: middle;
}

.changelog-list li{
    margin-top: 4px;
    margin-left: 12px;
}

body.modal-open {
    overflow-x: hidden;
}

.purple-textarea textarea.md-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #8433ec;
    box-shadow: 0 1px 0 0 #8433ec;
}

.purple-textarea textarea.md-textarea:focus:not([readonly])+label {
    color: #8433ec;
}

.card {
    background-color: #222222;
}

.card-body {
    background-color: white !important;
}

@media screen and (min-width: 768px) {

    #navbar-top-small {
        display: none;
    }

    .table-size td {
        font-size: 18px;
        vertical-align: middle;
        padding: 0 0 0 10px;
    }

    .table-size th {
        font-size: 18px
    }

    .small-screen {
        display: none !important;
    }

    .card {
        width: 18rem;
    }

}

@media screen and (max-width: 768px) {

    #navbar-top {
        display: none;
    }

    #navbar-top-small {
        width: 100%;
    }

    .hidden {
        display: none;
    }

    h1 {
        font-size: 24px;
    }

    .display {
        display: grid;
    }

    .wide-screen {
        display: none !important;
    }

    .li-theme {
        padding: 5px 5px 5px 20px;
    }

    #plus-circle {
        width: 32px;
        height: 32px;
        margin-right: 5px;
    }

}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}